<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mystyle.css') }}">
    </head>
    <body>
        <h1>Welcome to AutoAnonymize!</h1>
        <h3>An automatic and selective face anonymization tool for videos.</h3>
        <ol>
            <li>Upload a video.</li>
            <li>Wait...</li>
            <li>A processed video will be downloaded as an attachment.</li>
            <li>Profit!</li>
        </ol>
        <form method="post" enctype="multipart/form-data" action="/">
            <p>All faces in video will be blurred by default.<br> 
               [Optional]If you have faces you do not want to be blurred, 
                upload them here:
            </p>
            <input id="faceFile" type="file" name="faces" multiple>
            <div id="faceDiv"></div>
            <p>Upload a video to be anonymized:</p>
            <input id="videoFile" type="file" name="video">
            <input id="videoSubmit", type="submit" value="Upload">
        </form>
    </body>
</html>

 
<script>
const faceFile = document.getElementById('faceFile')
const faceDiv = document.getElementById('faceDiv')
const videoFile = document.getElementById('videoFile')
const videoSubmit = document.getElementById('videoSubmit')

faceFile.addEventListener('change', e => {
    e.preventDefault()
    console.log('got the imgs')

    if (!faceFile.files.length) return

    for (i = 0; i < faceFile.files.length; i++) {
        const reader = new FileReader()
        const newFace = document.createElement('img')
        reader.onload = function (e) {
            console.log('loaded', e.target)
            newFace.src = e.target.result
            newFace.classList.add("img-circle")
            faceDiv.appendChild(newFace)
        }
        reader.readAsDataURL(faceFile.files[i])
    }
})

// videoSubmit.addEventListener('click', e => {
//     e.preventDefault()

//     console.log(videoFile.files.length)
//     if (!videoFile.files.length) return

//     var data = new FormData()
//     for (i = 0; i < faceFile.files.length; i++)
//         data.append('face'.concat(i + 1), faceFile.files[i])
    
//     data.append('video', videoFile.files[0])

//     fetch('/', {
//         method: "POST",
//         body: data,
//     }).then(result => {

//     })
// // })

</script> 